@charset "UTF-8";
/* CSS Document */
	
body {
	text-align: center;
	background-color: #e0ebf5;  
	font-family: 'Open Sans', sans-serif;
}

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color:  #e0ebf5; 
	color:  goldenrod; 
}

a:hover {
	font-size:200%;
	background-color: goldenrod; 
	color: blue; 
}
