@charset "UTF-8";
/* CSS Document */

body {
	background-image: url("img/confetti.jpeg");/* background image*/
	color: #444;          /* text color for the entire document */
	font-size: 12px;
	font-family:Verdana, Geneva, sans-serif; 
}

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color: white; 
	color: goldenrod; 
}

a:hover {
	font-size:200%;
	background-color: goldenrod; 
	color: blue; 
}
	
#wrapper {
	width:1500px;
	margin:0 auto;         /* centers wrapper */
 	text-align:center;
	background-color: rgba(255, 255, 255, 0.9);  /* creates white background with 90% opacity */	 
}

#menu {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}


table {
	margin:0 auto;  /* centers table*/
}

td {
	background-color: whitesmoke;  /* sets background color for table cells*/
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}


audio { 
	width:200px;   /* sets the width of the audio controls */
	
}

video {
	flex-wrap: wrap;
}








